* {
	margin: 0;
	padding: 0;
}

.app {
	margin: 20px;
	min-height: 100vh;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.app h1 {
	text-align: center;
}

.rs-editable {
	border-color: var(--rs-primary-900);
}

.rs-input:focus,
.rs-input:hover {
	border-color: var(--rs-border-primary) !important;
}

.fade-in {
	animation: fadeIn linear 0.5s;
	-webkit-animation: fadeIn linear 0.5s;
	-moz-animation: fadeIn linear 0.5s;
	-o-animation: fadeIn linear 0.5s;
	-ms-animation: fadeIn linear 0.5s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (min-width: 1150px) {
	.app {
		width: 30% !important;
	}
}

@media screen and (min-width: 700px) {
	.app {
		width: 50%;
	}
}
